<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AssemblyName" value="Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=70c25296b59dd809" />
    <add key="ClassName" value="Services.XmlRecipeService" />
  </appSettings>
</configuration>